{% extends 'home/base.html'  %}
{% block content %}
    {% if messages %}
        {%for message in messages%}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {%endfor%}
    {%endif%}
    <div class="section no-bottom-padding" id="Home">
        <div class="row p-20">
            <div class="col-sm-6 text-center banner">
                <img src="https://upload.wikimedia.org/wikipedia/en/1/13/Mumbai_Police_logo.png" alt="Mumbai Police Logo">
                <h2 class="banner-title">Greater Mumbai Police</h2>
                <div class="col-sm-12 text-center">
                    <h5 class="banner-paragraph">
                        Taking stock of your security round the clock!</h5>
                    <h5 class="banner-paragraph">
                        Dial 100 in case of any emergency. Help us to help you.
                    </h5>
                </div>

            </div>
            <div class="col-sm-6 text-center" >
                <div class="home-page-carousel">
                        <div class="carousel slide carousel-inner-div" data-ride="carousel" id="." data-interval="2000" >
                            <ul class="carousel-indicators">
                                <li data-target="#demo" data-slide-to="0" class="active"></li>
                                <li data-target="#demo" data-slide-to="1"></li>
                                <li data-target="#demo" data-slide-to="2"></li>
                                <li data-target="#demo" data-slide-to="3"></li>
                                <li data-target="#demo" data-slide-to="4"></li>
                            </ul>
                            <div class="carousel-inner">
                                <div class="carousel-item">
                                    <img src="https://mumbaipolice.gov.in/images/Slider/4.png" alt="Image" width="1100" height="500">
                                </div>
                                <div class="carousel-item active">
                                    <img src="https://mumbaipolice.gov.in/images/Slider/29.png" alt="Image" width="1100" height="500">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://mumbaipolice.gov.in/images/Gallery/12.png" alt="Image" width="1100" height="500">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://mumbaipolice.gov.in/images/Gallery/11.png" alt="Image" width="1100" height="500">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://mumbaipolice.gov.in/images/Gallery/13.png" alt="Image" width="1100" height="500">
                                </div>
                            </div>
                                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                    <span class="carousel-control-prev-icon"></span>
                                </a>
                                <a class="carousel-control-next" href="#demo" data-slide="next">
                                    <span class="carousel-control-next-icon"></span>
                                </a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>




<div class="section no-bottom-padding" id="Services">
    <div class="section-heading">
        <h3 align="center" style="font-size:40px"><b><u>Services</u></b></h3><br>
    </div>
    <div class="card-wrapper">
        <a href="{%url 'complaints'%}"  class="services-div">
            <div class="a">
                <img src="https://i.pinimg.com/originals/5a/cc/4b/5acc4b36bd558c9da8a103fc9df78e45.png" alt="Complaint">
                <p class="grid-item-header">File a Complaint</p>
                <p class="grid-item-paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s</p>
            </div>
        </a>

        <a href="{%url 'verification'%}"  class="services-div">
            <div class="b">
                <img src="https://images.squarespace-cdn.com/content/v1/5c87f593a9ab95124612e8b5/1553820132084-WX5VQFXM2E4N1QMIWO3P/ke17ZwdGBToddI8pDm48kC-KXPNpwVhJt7HqPz3fD11Zw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpzRv3_YvL6LKDk3ZJj9jCA6NE6mKk-VZXhITqUf-mA3mYJGLMEMa8NIfODMBshPLOQ/eligibility-verification-icon.png" alt="verification">
                <p class="grid-item-header">Tenant Verification</p>
                <p class="grid-item-paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s</p>
            </div>
        </a>

        <a href="{%url 'e-challan'%}"  class="services-div">
            <div class="c">
                <img src="https://www.pngarts.com/files/3/Traffic-Light-PNG-Photo.png" alt="E-Challan" >
                <p class="grid-item-header">Pay E-Challan Dues</p>
                <p class="grid-item-paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s</p>
            </div>
        </a>

        <a href="{%url 'missing-person'%}" class="services-div">
            <div class="d">
                <img src="https://static.thenounproject.com/png/2707141-200.png" alt="Missing Person">
                <p class="grid-item-header">Missing Person</p>
                <p class="grid-item-paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s</p>
            </div>
        </a>

        <a href="{%url 'stolen-vehicles'%}"  class="services-div">
            <div class="e">
                <img src="https://webstockreview.net/images/clipart-people-car-3.png" alt="Stolen and Unclaimed Vehicles">
                <p class="grid-item-header">Stolen and Unclaimed Vehicles</p>
                <p class="grid-item-paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s</p>
            </div>
        </a>

        <a href="{% url 'view-criminal' %}"  class="services-div">
            <div class="f">
                <img src="https://w7.pngwing.com/pngs/340/706/png-transparent-prison-crime-police-computer-file-a-criminal-in-a-prison-jail-miscellaneous-police-officer-text.png" alt="Criminal Records">
                <p class="grid-item-header">Criminal Records</p>
                <p class="grid-item-paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s</p>
            </div>
        </a>
    </div>
</div>

    <br><br>




<div class="section no-bottom-padding" id="About">
    <div class="container">
        <div class="section-heading">
            <h3 align="center" style="font-size:40px"><b><u>About Us</u></b></h3>
        </div>
        <br>
        <div class="section-heading">
            <h3 align="center"><b>Our Mission</b></h3>
        </div>
        <div class="para">
            <p align="center">In order to protect life and property, prevent crime and reduce the fear of crime, we will provide service with understanding, response with compassion, performance with integrity and law enforcement with vision.</p>
        </div>
        <div class="section-heading">
            <h3 align="center"><b>Executive Team</b></h3>
        </div>
        <div class="row">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQcuvuSmK0Jh-43eSPGJdfwP_tFNc12J1C8Ig&usqp=CAU" alt="IMAGE">
                <div class="card-text">
                    <h3 style="text-align:center">Akhil Lokhande</h3>
                    <p style="color:grey;text-align:center;font-weight:bold">COMMISSIONER</p>
                    <p style="text-align:center">Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                    <button class="btn btn-light text-center full-width">Contact</button>
                </div>
            </div>
            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/e/ea/DCP_Pradip_Sawant.jpg" alt="IMAGE">
                <div class="card-text">
                    <h3 style="text-align:center">Sanjay Deshmukh</h3>
                    <p style="color:grey;text-align:center;font-weight:bold">DCP</p>
                    <p style="text-align:center">Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                    <button class="btn btn-light text-center full-width">Contact</button>
                </div>
            </div>
            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/64/Sanjay_Barve%2C_Indian_Police_Service%2C_Commissioner_of_Police%2C_Mumbai.jpg" alt="IMAGE">
                <div class="card-text">
                    <h3 style="text-align:center">Ramesh Rawat</h3>
                    <p style="color:grey;text-align:center;font-weight:bold">ACP</p>
                    <p style="text-align:center">Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                    <button class="btn btn-light text-center full-width">Contact</button>
                </div>
            </div>
            <div class="card">
                <img src="https://www.thehindu.com/news/cities/mumbai/rksgsv/article25592910.ece/BINARY/26BMYogendra-Pache" alt="IMAGE">
                <div class="card-text">
                    <h3 style="text-align:center">Rohan Pandey</h3>
                    <p style="color:grey;text-align:center;font-weight:bold">INSPECTOR</p>
                    <p style="text-align:center">Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                    <button class="btn btn-light text-center full-width">Contact</button>
                </div>
            </div>
        </div>
    </div>
</div>

        <br><br>

<!--/ About-->


<!--Contact-->

<div class="section" id="Contact">
    <div class="container">
            <div class="section-heading">
                <h3 align="center" style="font-size:40px"><b><u>Contact Us</u></b></h3><br>
            </div>
            <div class="para">We appreciate your suggestions and will surely work through them.<br> Feel free to contact us.</div>
            <form action="">
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <input type="text" placeholder="Subject">
                <input type="text" placeholder="Message">
                <button class="btn btn-dark text-center m-t-20">Send Message</button>
            </form>
            </div>
    </div>
</div>
{% endblock %}