{% extends 'users/userbase.html' %}

{% block content %}

    <div style="margin:40px;margin-top: 10px">
        <table class="table table-hover table-bordered text-center caption-top status-table">
            <caption style="caption-side:top">Status of your Filed Complaints.</caption>
            <thead class="thead-custom">
            <tr>
                <th scope="col">Acknowledgement Id</th>
                <th scope="col">Name</th>
                <th scope="col">Service Type</th>
                <th scope="col">Filed on</th>
                <th scope="col">Status</th>
            </tr>
            </thead>

    {% for missing in Missing %}
            <tbody>
                <tr>
                    <th scope="row">{{ missing.ack_no }}</th>
                    <td>{{ missing.firstName }} {{ missing.lastname }}</td>
                    <td>Missing Complaint</td>
                    <td>{{ missing.created_at }}</td>
                    <td class="td-status" data-toggle="tooltip" data-placement="right" title="{{ missing.admin_message}}">{{ missing.admin_status }}</td>
                </tr>
            </tbody>
    {% endfor %}

    {% for complaint in Complaints %}
        <tbody>
        <tr>
                <th scope="row">{{ complaint.ack_no }}</th>
                <td>{{ complaint.fullName }}</td>
                <td>Crime Complaint</td>
                <td>{{ complaint.created_at }}</td>
                <td class="td-status" data-toggle="tooltip" data-placement="right" title="{{ complaint.admin_message}}">{{ complaint.admin_status }}</td>
            </tr>
        </tbody>
    {% endfor %}

    {% for verification in Verification %}
        <tbody>
        <tr>
            <th scope="row">{{ verification.ack_no }}</th>
            <td>{{ verification.tenantFullName }}</td>
            <td>Tenant Verification</td>
            <td>{{ verification.created_at }}</td>
            <td class="td-status" data-toggle="tooltip" data-placement="right" title="{{ verification.admin_message}}">{{ verification.admin_status }}</td>
        </tr>
        </tbody>
    {% endfor %}

    {% for stolenVehicle in stolenVehicles %}
        <tbody>
        <tr>
            <th scope="row">{{ stolenVehicle.ack_no }}</th>
            <td>{{ stolenVehicle.fullName }}</td>
            <td>Stolen Vehicle Complaint</td>
            <td>{{ stolenVehicle.created_at }}</td>
            <td class="td-status" data-toggle="tooltip" data-placement="right" title="{{ stolenVehicle.admin_message}}">{{ stolenVehicle.admin_status }}</td>
        </tr>
        </tbody>
    {% endfor %}

</table>
</div>

    <script>

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

    let table_status_style = document.querySelectorAll('.td-status')
        console.log(table_status_style)
        for(let i=0;i<table_status_style.length;i++)
        {
            console.log(table_status_style[i].innerHTML)
        }

    for(let i=0;i<table_status_style.length;i++)
    {
        if(table_status_style[i].innerHTML=='approved')
        {
            table_status_style[i].parentElement.classList.add('table-success')
            console.log('approved')
        }
        else if(table_status_style[i].innerHTML=='rejected')
        {
            table_status_style[i].parentElement.classList.add('table-danger')
            console.log('rejected')
        }
        else
        {
            table_status_style[i].parentElement.classList.add('table-secondary')
            console.log('pending')
        }

    }
    </script>
{% endblock %}