{% extends "users/userbase.html" %}
{% block content %}

<title>Missing Persons</title>
<div class="section section-white">
    <div class="container">
        <div class="section-heading">
            <h3 align="center" style="font-size:40px"><b>Mis<u style="text-decoration-color:#5f41ba">sing Pers</u>ons</b></h3><br>
        </div>

        <div class="missper" style="overflow-x: auto">
            <table style="align-items: center">
                <tr>
                    <td rowspan="4">
                        <img src="https://i.pinimg.com/originals/2d/1f/af/2d1faf05d22132335edaa01f8fb33dce.jpg" alt="me">
                        <br><br><br>
                        <h5><b>Name: Brad Pitt</b></h5>
                    </td>
                    <td><b>Color: </b>Fair</td>
                    <td><b>Gender: </b>Male</td>
                </tr>
                <tr>
                    <td><b>Age: </b>50</td>
                    <td><b>Height: </b>6 Foot</td>
                </tr>
                <tr>
                    <td><b>Place Of Missing: </b>Home</td>
                    <td><b>Date Of Missing: </b>19/08/2021</td>
                </tr>
                <tr>
                    <td><b>Police Station: </b>Mulund</td>
                    <td><b>Description: </b>None</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}