{% extends "users/userbase.html" %}
{% block content %}

<title>Records of Missing People</title>
<div class="section section-white">
    <div class="container">
        <div class="section-heading">
            <h3 align="center" style="font-size:40px"><b>Mis<u style="text-decoration-color:#5f41ba">sing Pers</u>ons</b></h3><br>
        </div>

        {% for missing in Missing  %}
            <div class="missper" style="overflow-x: auto ;padding:30px;">
                <table style="align-items: center">
                    <tr>
                        <td rowspan="4">
                            <img src="{{missing.image.url}}">
                            <br><br><br>
                            <h5><b>NAME</b> : {{ missing.firstName }} {{ missing.lastname }}</h5>
                        </td>
                        <td><b>COLOR: </b>{{ missing.color }}</td>
                        <td><b>GENDER: </b>{{ missing.gender }}</td>
                    </tr>
                    <tr>
                        <td><b>AGE: </b>{{ missing.age }}</td>
                        <td><b>HEIGHT: </b>{{ missing.height }}</td>
                    </tr>
                    <tr>
                        <td><b>PLACE OF MISSING: </b>{{ missing.placemissing }}</td>
                        <td><b>DATE OF MISSING: </b>{{ missing.datetime }}</td>
                    </tr>
                    <tr>
                        <td><b>POLICE STATION: </b>{{ missing.police_st }}</td>
                        <td><b>DESCRIPTION: </b>{{ missing.desc }}</td>
                    </tr>
                </table>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock %}