{% extends 'home/base.html' %}
{% block content %}
<style>
    .complaint-form-label
    {
        font-size: 20px;
        color: #474747;
        font-weight: bold;
    }

    .form-disclaimer
    {
        font-size:18px;
        margin:35px;
    }

</style>
<div class="section section-white">
    <div class="container">
        <div class="section-heading">
            <h3 align="center" style="font-size:40px"><b>Onlin<u style="text-decoration-color:#5f41ba">e Com</u>plaint</b></h3><br>
        </div>

        <form>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="complaint-form-label" for="fullName">Full Name *</label>
                    <input type="text" class="form-control" id="fullName" placeholder="Aryan">
                </div>
                <div class="form-group col-md-4">
                    <label class="complaint-form-label" for="contact">Contact Number *</label>
                    <input type="tel" class="form-control" id="contact" placeholder="9987505854">
                </div>

                <div class="form-group col-md-4">
                    <label class="complaint-form-label" for="email">Email *</label>
                    <input type="email" class="form-control" id="email" placeholder="example@domain.com">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="complaint-form-label" for="flatno">Room No/Street Name</label>
                    <input type="text" class="form-control" id="flatno" placeholder="1209">
                </div>
                <div class="form-group col-md-4">
                    <label class="complaint-form-label" for="address">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="Sector-1,Bandra">
                </div>

                <div class="form-group col-md-4">
                    <label class="complaint-form-label" for="city">City</label>
                    <input type="text" class="form-control" id="city" placeholder="Mumbai">
                </div>
            </div>

            <div class="form-row d-flex justify-content-between">
                <div class="form-group col-md-5">
                    <label class="complaint-form-label" for="state">State</label>
                    <input type="text" class="form-control" id="state" placeholder="Maharashtra">
                </div>

                <div class="form-group col-md-5">
                    <label class="complaint-form-label" for="country">Country</label>
                    <input type="text" class="form-control" id="country" placeholder="India">
                </div>

            </div>

            <div class="form-row d-flex justify-content-between">
                <div class="form-group">
                    <label class="complaint-form-label" for="date">Date of Incident *</label>
                    <input type="date" id="date" placeholder="Date of Incident"/>
                </div>
                <div class="form-group">
                    <label class="complaint-form-label" for="time">Time of Incident * </label>
                    <input type="time" id="time" placeholder="Time of Incident"/>
                </div>
                <div class="form-group">
                    <label class="complaint-form-label" for="date">Type of Crime Committed * </label>
                    <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>Cyber</option>
                        <option>Extortion</option>
                        <option>Chain Snatching</option>
                        <option>Dacoity</option>
                        <option>Theft</option>
                        <option>Other</option>



                    </select>

                </div>

            </div>

            <div class="form-group">
                <label class="complaint-form-label" for="complaint-description">Description *</label>
                <textarea class="form-control" id="complaint-description" rows="5"></textarea>
            </div>

            <br><br>

            <div class="form-group">
                <small><i style="font-size: 13px">Max 5 MB</i></small>
                <p style="margin: 0px">Select Files to Upload</p>
                <input style="margin: 2px" type="file" autocomplete="nope" multiple="">
            </div>


            <div class="form-check">
                <input style="width:30px;height:30px" class="form-check-input" type="checkbox" value="" id="flexCheckChecked" unchecked>

                <p class="form-disclaimer">
                    I certify that the information provided by me in above form is accurate and correct as per best of my knowledge. I understand that withholding of information or giving false information is a criminal offense and may result in legal action against me.
                    <br>
                    <br>
                </p>

            </div>

            <div class="d-flex justify-content-between btn-div">
                <input type="reset" value="Reset" class="reset-btn">
                <input type="submit" value="Submit" class="submit-btn">
            </div>




        </form>

        <br><br>

{#        <p>#}
{#            <a href="${pageContext.request.contextPath}/home">Back to Home</a>#}
{#        </p>#}
    </div>
</div>

{% endblock %}