
body{
    background: #f7f7f7;
}

html{
    scroll-behavior: smooth;
}


.navbar {
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 9999;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .9375rem;

}

.logo a {
    color: #fff;
    padding: .75rem;
    margin: 0 .25rem;
    transition: background .3s;
    text-transform: capitalize;
    letter-spacing: 4px;
}

.logo-title
{
    font-size: 22px;
    font-family:"Arial";
}

.navbar ul {
    padding:0;
    margin: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar ul li a {
    color:#fff;
    padding: .75rem;
    margin: 0 .25rem;
    transition: background .3s;
    text-transform: capitalize;
    font-size:18px;
}

.nav-btns-div
{
    display:flex;
    gap:15px;
}

.btn-nav
{
    border: 3px solid white;
    color:#333;
    background-color:#fff;
    text-decoration: none;
}

.geo-button {
    border: 3px solid white;
    color:#268f09;
    background-color:#fff;
    text-decoration: none;
}

.geo-button:hover
{
    background-color:#32b80d;
    color:#fff;
    text-decoration: none;
    cursor: pointer;
}

.btn-nav:hover
{
    background-color:#333;
    color:#fff;
    text-decoration: none;
    cursor: pointer;
}

.banner{
    color:#333;
}
.banner-title
{
    padding:1rem;
    letter-spacing: 0.3rem;
}

.carousel-inner
{
    border-radius:50%;
    text-align: center;
}

.carousel-inner img {
    width: 800px;
    height:500px
}

.section {
    padding: 60px 0;
}

.section-white {
    background: #f7f7f7;
    color: #333;
}

.section .section-heading h3 {
    border-bottom: solid 1px #f1f1f1;
    padding-bottom: 1.2rem;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: .5rem 0;
}

.para {
    font-size: .9375rem;
    margin-bottom: 2.8rem;
}

.card {
    flex: 0 1 24%;
    background: #f7f7f7;
}

.card img {
    width: 100%;
    height: 250px;

}

.card-text h3 {
    margin: .6rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 400;
}

.card-text .fade {
    color: gray;
}

.card-text:nth-child(2) {
    font-size: .9375rem;
}

.card-text .btn {
    display: block;
    width: 100%;
    padding: .6rem;
}



/*CONTACT*/



form input {
    display: block;
    width: 100%;
    padding: .6rem;
    margin: .6rem 0;
    border: 1px solid #ccc;
    font-size: .9375rem;
}

.complaint-form-label
{
    font-size: 100px;
}


/*BUTTON AND LINK*/


.btn {
    padding: 10px;
    box-sizing: border-box;
    border: none;
}

.btn-light {
    background: #eee;
}

.btn-light:hover {
    cursor: pointer;
    background: #ccc;
}

.btn-dark {
    background: black;
    color: #fff;

}

.btn-blue {
    background: #151E3F;
    color: #fff;
    border-radius: 9px;
}

.btn-dark:hover {
    cursor: pointer;
    color: #333;
    background: #ccc;
}


.btn-blue:hover {
    cursor: pointer;
    color: black;
    background: #ccc;
}

.full-width {
    width: 100%;
}


/*MAP*/



.map {
    width: 100%;
}



/*FOOTER*/




.footer{
    padding: 2.5rem 0;
    background-color:#000000;

}

.footer-div
{
    background-color: rgb(94,106,176);
    padding:30px;
}

.footer-div span
{
    color:white;
}

.footer-div a
{
    color:white;
}

footer p {
    font-size: .9375rem;
    word-spacing: 250px;
}


.btn-div
{
    display:flex;
    justify-content: space-between;
    gap:25px;
}


.submit-btn,.reset-btn{
    display:inline-block;
    background-color:rgb(94,106,176);
    color:#ffffff;
    margin:1rem 6rem;
    font-size:1.2rem;
    border-radius:.6rem;
}

.reset-btn:hover,.submit-btn:hover
{
    cursor:pointer;
    color:#ffffff;
    background-color: rgba(94,106,176,0.8);
}

.card-wrapper
{
    margin:50px;
    display:grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap:10px;
}

.card-wrapper img
{
    height: 80px;
    background: #f7f7f7
}

.services-div
{
    padding:20px;
    border: 1px solid black;
    /*border-radius:20%;*/
}

.services-div:hover
{
    background: #ffffff;
    box-shadow: 10px 10px 5px grey;
    border: white;
}

.services-div:hover img
{
    background: #ffffff;
}

.grid-item-header
{
    font-size:25px;
    font-weight:bold;
    color:#333;
}

.grid-item-paragraph
{
    color:#333;
}

.card-wrapper a
{
    text-decoration: none;
}

.btn-police
{
    background-color:rgb(94,106,176);
    color:white;
}

.complaint-form-label
{
    font-size: 20px;
    color: #474747;
    font-weight: bold;
}

.form-disclaimer{
 margin: 20px;
}

.missing-image{
    height:200px;
    width:200px;
}

.missper div {
    align-items: center;
}

.missper table tr td{
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}
.missper table{
    max-width: 100%;
    margin: auto;
    padding: 30px;
    box-shadow: 8px 8px 20px #474747;
}

.missper tr td{
    padding: 40px;
}

.missper img{
    width: 210px;
    height: 200px;
}

table
{
    table-layout: fixed;
    width: 1000px;
}