{% extends "users/userbase.html" %}
{% block content %}

<div class="section section-white">
    <div class="container">
        <div class="section-heading">
            <h3 align="center" style="font-size:40px"><b>Crim<u style="text-decoration-color:#5f41ba">inal Rec</u>ords</b></h3><br>
        </div>

        <form action="{% url 'addCriminal_form_submission' %}" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="complaint-form-label" for="fullName">Full Name *</label>
                    <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Aryan" required>
                </div>
                <div class="form-group col-md-4">
                    <label class="complaint-form-label" for="lastname">Last Name *</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Mehta" required>
                </div>
                <div class="form-group col-md-4">
                    <label class="complaint-form-label" for="age">Age *</label>
                    <input type="num" class="form-control" id="age" name="age" placeholder="18" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="complaint-form-label" for="Gender">Gender </label>
                    <select name="gender" required class="form-control" id="gender" style="margin-top: 10px">
                        <option value="">Choose...</option>
                        <option value="2">Male</option>
                        <option value="3">Female</option>
                        <option value="4">Others</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label class="complaint-form-label" for="address">Address found</label>
                    <input type="text" class="form-control" id="address" name="address" placeholder="Sector-1, Bandra">
                </div>

                <div class="form-group col-md-4">
                    <label class="complaint-form-label" for="pincode">Pincode</label>
                    <input type="text" class="form-control" id="pincode" name="pincode" placeholder="401107">
                </div>
            </div>

            <div class="form-row d-flex justify-content-between">
                <div class="form-group col-md-5">
                    <label class="complaint-form-label" for="prison_sentence">Prison Sentenced</label>
                    <input type="num" class="form-control" id="prison_sentence" name="prison_sentence" placeholder="10">
                </div>
                <div class="form-group col-md-5">
                    <label class="complaint-form-label" for="current_status">Current Status</label>
                    <select name="current_status" class="form-control" id="current_status">
                        <option value="">Choose...</option>
                        <option value="1">In Prison</option>
                        <option value="2">On Bail</option>
                        <option value="3">Released</option>
                    </select>

                </div>
            </div>


            <div class="form-row d-flex justify-content-between">
                <div class="form-group col-md-4">
                    <label class="complaint-form-label" for="datetime">Date and Time of Captured:</label>
                    <input type="datetime-local" id="datetime" name="datetime" required>
                </div>

                <div class="form-group">
                    <label class="complaint-form-label" for="crime">Crime Committed: * </label>
                    <select id="crime" required class="form-control" name="crime">
                        <option value="">Choose...</option>
                        <option value="Cyber">Cyber</option>
                        <option value="Extortion">Extortion</option>
                        <option value="Chain Snatching">Chain Snatching</option>
                        <option value="Dacotiy">Dacoity</option>
                        <option value="Theft">Theft</option>
                        <option value="Other">Other</option>
                    </select>

                </div>

            </div>

            <div class="form-group">
                <label class="complaint-form-label" for="desc">Description *</label>
                <textarea class="form-control" id="desc" name = "desc" rows="5" required></textarea>
            </div>

            <br><br>

             <div class="form-group">
                <small><i style="font-size: 13px">Max 5 MB</i></small>
                <p style="margin: 0px">Select Files to Upload</p>
                <input style="margin: 2px" type="file" autocomplete="nope" multiple="" name="image">
            </div>


            <div class="form-check">
                <input style="width:30px;height:30px" required class="form-check-input" type="checkbox" value="" id="flexCheckChecked" unchecked>

                <p class="form-disclaimer">
                    I certify that the information provided by me in above form is accurate and correct as per best of my knowledge. I understand that withholding of information or giving false information is a criminal offense and may result in legal action against me.
                    <br>
                    <br>
                </p>

            </div>

            <div class="d-flex justify-content-between btn-div">
                <input type="reset" value="Reset" class="reset-btn">
                <input id="submit-btn" type="submit" value="Submit" class="submit-btn">
            </div>


        </form>

        <br><br>

    </div>
</div>

    <script>
        function submitFunction()
        {
            alert("Your complaint has been filed . We will shortly get in touch with you.")
            window.location.href="{% url 'home' %}"
        }
    </script>

{% endblock %}